h1, h2 {
	color: #fff;
	font-family: roboto;
	font-weight: 900;
}
header {
  text-shadow: 3px 2px 1px black;
  ;
}
.lead {
    text-align: justify;
    text-justify: inter-word;
}

.rounded-circle {
    width: 70%;
	height: 70%;
}

#Capture {
	margin: auto;
	width: 94%;
	position: center;
}
#Capture2 {
	max-width: 700px;
	position: center;
}
#closeProjectButton {
	margin: auto;
	position: center;
}

#ericsTestimonial {
    text-align: left;
    font-style: italic;
} 